<div id="about"> 
  <h2>About</h2>
  <p>
    This site archives an etymology column written by various editors at Random House from 1996 to 2001. Random House removed the column from their website in 2008. It remains available on <a href="web.archive.org" target="_blank">the Internet Archive</a> but in a sometimes incomplete and somewhat clunky form. So I decided to collect the columns here for easier access.
  </p>
</div>
