$gold: #c0963c;
$black: #000;

// clearfix
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  clear: both;
  *zoom: 1;
}

body {
  padding-bottom: 2em;
}

// typeography
:root {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-size: 1.25em;
  line-height: 1.4;
}

h1 {
  font-size:3em;
  font-weight: 600;
}


h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1.2em;
}

// layout
header {
  font-size: 1rem;
  position: relative;
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid $black;
  padding: 1em 0;
  margin-bottom: 2em;

  h1 {
    a {
      color: $black;
      text-decoration: none;
      
      &:visited {
        color: $black;
      }

      &hover {
        color: $black;
      }
    }
  }

  p {
    color: $gold;
  }

  ul {
    font-size: 1rem;
    position: absolute;
    right: 0;
    bottom: 1em;
  }

  li {
    font-size: 1.25em;
    display: inline-block;
    margin-left: 0.5em;
    color: $gold;
    font-weight: 600;

    a {
      color: $gold;
      text-decoration: none;

      &:visited {
        color: $gold;
      }

      &:hover {
        color: $black;
      }

    }

    &.divider {
      color: $black;
      font-weight: 400;
    }
  }

  div {
    float: left;
  }
}

#alpha-menu {
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 2em;
  font-size: 1.25em;
}

#entry-list {
  padding-left: 15%;
  
  section {
    vertical-align: top;

    span {
      margin: 1em;
      display: block;
      font-size: 1.25em;
    }
  }

  h1 {
    margin-left: .33em;
  }
}

.pagination {
  text-align: center;
  margin: 1em 0;
  font-size: 1.25em;
}

#entry-details {
  width: 80%;
  margin: 0 auto;

  .question {
    font-weight: 600;
    margin-bottom: 1em;
  }

  br {
    margin-bottom: 1em;
  }
}

#about {
  width: 80%;
  margin: 0 auto;
}
