<header class="cf">
  <div>
    <h1><%= link_to 'Wordmaven', root_path %></h1>
    <p>Word of the Day Archive</p>    
  </div>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li class="divider">|</li>
    <li><%= link_to "About", about_path %></li>
  </ul>
</header>
